<div class="flexrow">
    <div class="stat-box">
        <h4 class="label">{{ localize 'ACTOR.Background' }}</label>
        <input name="data.background" type="text" value="{{data.background}}" />
    </div>
    <div class="stat-box">
        <h4 class="label">{{ localize 'ACTOR.Lifestyle' }}</label>
        <input name="data.lifestyle" type="text" value="{{data.lifestyle}}" />
    </div>
</div>
<div class="flexrow">
    {{!-- ODDIETIES --}}
    <div class="flexcol">
        {{> "systems/sigil_and_shadow/templates/actor/partials/actor-oddities.hbs"}}
    </div>
    {{!-- DESCRIPTORS --}}
    <div class="flexcol">
        <h5>Descriptors</h5>
    </div>
</div>  


<h5>{{ localize "ACTOR.Bio" }}</h5>
{{ editor content=data.biography target="data.biography" owner=owner button=true editable=editable }}
