<div class="flexrow">
    <div class="stat-box">
        <h4 class="label">{{ localize 'ACTOR.Background' }}</label>
        <input name="data.background" type="text" value="{{data.background}}" />
    </div>
    <div class="stat-box">
        <h4 class="label">{{ localize 'ACTOR.Lifestyle' }}</label>
        <input name="data.lifestyle" type="text" value="{{data.lifestyle}}" />
    </div>
    <div class="stat-box">
        <h4 class="label">{{ localize 'ACTOR.Rank' }}</label>
        <input name="data.rank" type="text" value="{{data.rank}}" />
    </div>
    <div class="stat-box">
        <h4 class="label">{{ localize 'ACTOR.Milestones' }}</label>
        <input name="data.milestones" type="text" value="{{data.milestones}}" />
    </div>
</div>
<div class="flexrow">
    {{!-- ODDIETIES --}}
    <div class="flexcol">
        <div class="stat-box">
            <h4 class="label">{{ localize 'ACTOR.Oddity' }}</label>
            <input name="data.oddity" type="text" value="{{data.oddity}}" />
        </div>
    </div>
    {{!-- DESCRIPTORS --}}
    <div class="flexcol">
        <h5>Descriptors</h5>
    </div>
</div>
<h5>{{ localize "ACTOR.Bio" }}</h5>
{{ editor content=data.biography target="data.biography" owner=owner button=true editable=editable }}
