{{!-- EQUIPMENT --}}
<section class="stat-pane">
    <div class="stat-header flexrow">
        <h4 class="label">{{localize "ACTOR.Equipment"}}</h4>
        <a class="stat-button item-create" data-type="equipment" title="{{localize 'SIS.sheet.newItem'}}">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <ul class="stat-list">
        {{#each items as |item id|}}
        <li class="item stat-item" data-item-id="{{item._id}}">
            <h4 class="item-name">
                <a class="item-edit">
                    {{ item.name }}
                </a>
            </h4>
            {{#if item.data.description}}
            <h5>
                {{item.data.description}}
            </h5>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</section>