<ul class="oddity-list">
    <li class="items-header">
        <h4>{{localize "ITEM.OddityName"}}</h4>
    </li>
    {{#each oddities as |oddity id|}}
    <li class="item oddity-item" data-item-id="{{oddity._id}}">
        <h4 class="item-name">
            <a class="item-edit">
                {{oddity.name}}
            </a>
        </h4>
        <p class="full-width">{{oddity.data.description}}</h4>
    </li>
    {{/each}}
    <li class="item">
        <a class="item-create" data-type="oddity" title="{{localize 'SIS.sheet.newOddity'}}">
            <i class="fas fa-plus"></i>
            {{ localize 'SIS.sheet.newOddity' }}
        </a>
    </li>
</ul>