<ul class="items-list skill-list">
    <li class="items-header flexrow">
        <h4>{{localize "ITEM.SkillName"}}</h4>
        <h4>{{localize "ITEM.SkillFocusOf"}}</h4>
        <h4>{{localize "ITEM.SkillAbility"}}</h4>
        <h4>{{localize "ITEM.SkillLevel"}}</h4>
        <h4>{{localize "ITEM.SkillScore"}}</h4>
    </li>
    {{#each skills as |skill id|}}
    <li class="item skill-item flexrow" data-item-id="{{skill._id}}">
        <h4 class="item-name flexrow">
            <a class="item-edit">
                {{skill.name}}
            </a>
        </h4>
        <h4>{{skill.data.focus_of}}</h4>
        <h4>{{skill.data.ability}}</h4>
        <h4>{{skill.data.level}}</h4>
        <h4>{{skill.data.score}}</h4>

        <!-- <div class="item-controls skill-controls flexrow">
            <a class="item-delete" data-action="delete" title="{{localize 'SIS.sheet.delete'}}">
                <i class="fas fa-trash"></i>
            </a>
        </div>
        -->
    </li>
    {{/each}}
    <li class="item">
        <a class="item-create" data-type="skill" title="{{localize 'SIS.sheet.createSkill'}}">
            <i class="fas fa-plus"></i>
            {{ localize 'SIS.sheet.createSkill' }}
        </a>
    </li>
</ol>