<div class="flexrow">
    <div class="stat-box">
        <h4 class="label">{{ localize 'ACTOR.Background' }}</label>
        <input name="data.background" type="text" value="{{data.background}}" />
    </div>
    <div class="stat-box">
        <h4 class="label">{{ localize 'ACTOR.Lifestyle' }}</label>
        <input name="data.lifestyle" type="text" value="{{data.lifestyle}}" />
    </div>
</div>
<div class="flexrow">
    {{!-- ODDIETIES --}}
    {{> "systems/sigil_and_shadow/templates/actor/partials/actor-oddities.hbs"}}
</div>  
{{!-- DESCRIPTORS --}}
<div class="flexrow">
    <h5>Descriptors</h5>
</div>
<h5>{{ localize "ACTOR.Bio" }}</h5>
{{ editor content=data.biography target="data.biography" owner=owner button=true editable=editable }}
