<div class="weapon-card">
    <div class="skill-info skill-name">
        <p>{{name}}</p>
    </div>
    <div class="skill-info skill-stats">
        <p>
            {{data.focus_of}} | {{data.ability}} | {{data.level}} | {{data.score}} | {{data.notes}} | 
        </p>
    </div>
</div>