<div class="skill-item item" data-item-id="{{_id}}">
    <div class="skill-info skill-name">
        <a class="item-edit">
            <h4>{{name}}</h4>
        </a>
    </div>
    <div class="skill-info skill-stats">
        <p>
            {{data.focus_of}} | {{data.ability}} | {{data.level}} | {{data.score}} | {{data.notes}} | 
        </p>
    </div>
</div>