<div class="weapon-card">
    <div class="weapon-info weapon-name">
        <p>{{name}}</p>
    </div>
    <div class="weapon-info weapon-stats">
        <p>
            {{data.damange}} | {{data.range}} | {{data.ammo}} | {{data.conceal}} | {{data.notes}} | 
        </p>
    </div>
</div>