<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

        <section class="header-details flexrow">
            {{> "systems/dnd5e/templates/actors/parts/actor-warnings.html"}}

            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'DND5E.Name' }}"/>
            </h1>

            <aside class="header-exp flexcol">
                <div class="charlevel" title="{{multiclassLabels}}">
                    <label>{{ localize "DND5E.Level" }} {{data.details.level}}</label>
                    <span class="levels">{{classLabels}}</span>
                </div>

                {{#unless disableExperience}}
                <div class="experience flexrow">
                    <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}" placeholder="0" data-dtype="Number"/>
                    <span class="sep">/</span>
                    <span class="max">{{data.details.xp.max}}</span>
                </div>
                <div class="xpbar">
                    <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
                </div>
                {{/unless}}
            </aside>

            {{!-- Character Summary --}}
            <ul class="summary flexrow">
                <li>
                    <input type="text" name="data.details.race" value="{{data.details.race}}" placeholder="{{ localize 'DND5E.Race' }}"/>
                </li>
                <li>
                    <input type="text" name="data.details.background" value="{{data.details.background}}" placeholder="{{ localize 'DND5E.Background' }}"/>
                </li>
                <li>
                    <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" placeholder="{{ localize 'DND5E.Alignment' }}"/>
                </li>
                <li class="proficiency">
                    <span>{{ localize "DND5E.Proficiency" }} {{labels.proficiency}}</span>
                </li>
            </ul>

            {{!-- Header Attributes --}}
            <ul class="attributes flexrow">
                <li class="attribute health">
                    <h4 class="attribute-name box-title">{{ localize "DND5E.HitPoints" }}</h4>
                    <div class="attribute-value multiple">
                        <input name="data.attributes.hp.value" type="text"
                               value="{{data.attributes.hp.value}}" placeholder="10"
                               data-dtype="Number" title="{{localize 'DND5E.HitPointsCurrent'}}">
                        <span class="sep"> / </span>
                        <input name="data.attributes.hp.max" type="text"
                               value="{{data.attributes.hp.max}}" placeholder="10" 
                               data-dtype="Number" title="{{localize 'DND5E.HitPointsMax'}}">
                    </div>
                    <footer class="attribute-footer">
                        <input name="data.attributes.hp.temp" type="text" class="temphp"
                               placeholder="+{{ localize 'DND5E.Temp' }}"
                               value="{{data.attributes.hp.temp}}" data-dtype="Number"
                               title="{{localize 'DND5E.HitPointsTemp'}}">
                        <input name="data.attributes.hp.tempmax" type="text" class="temphp"
                               placeholder="+{{ localize 'DND5E.Max' }}"
                               value="{{data.attributes.hp.tempmax}}" data-dtype="Number"
                               title="{{localize 'DND5E.HitPointsTempMax'}}">
                    </footer>
                </li>

                <li class="attribute hit-dice">
                    <h4 class="attribute-name box-title">
                        {{ localize "DND5E.HitDice" }}
                        <a class="config-button" data-action="hit-dice" title="{{localize 'DND5E.HitDiceConfig'}}"><i class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value multiple">
                        <label class="hit-dice">
                            <span title="{{localize 'DND5E.HitDiceRemaining'}}">{{data.attributes.hd}}</span>
                            <span class="sep"> / </span>
                            <span title="{{localize 'DND5E.HitDiceMax'}}">{{data.details.level}}</span>
                        </label>
                    </div>
                    <footer class="attribute-footer">
                        <a class="rest short-rest" title="{{localize 'DND5E.ShortRest'}}">{{ localize "DND5E.RestS" }}</a>
                        <a class="rest long-rest" title="{{localize 'DND5E.LongRest'}}">{{ localize "DND5E.RestL" }}</a>
                    </footer>
                </li>

                <li class="attribute armor">
                    <h4 class="attribute-name box-title">
                        {{ localize "DND5E.ArmorClass" }}
                        <a class="config-button" data-action="armor" title="{{localize 'DND5E.ArmorConfig'}}"><i class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value attributable" data-property="attributes.ac">
                        <span>{{data.attributes.ac.value}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span class="spell-dc">{{localize "DND5E.SpellDC"}} {{data.attributes.spelldc}}</span>
                    </footer>
                </li>

                <li class="attribute movement">
                    <h4 class="attribute-name box-title">
                        {{ localize "DND5E.Movement" }}
                        <a class="config-button" data-action="movement" title="{{localize 'DND5E.MovementConfig'}}"><i class="fas fa-cog"></i></a>
                    </h4>
                    <div class="attribute-value">
                        <span>{{movement.primary}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{movement.special}}</span>
                    </footer>
                </li>

                <li class="attribute initiative">
                    <h4 class="attribute-name box-title rollable" data-action="rollInitiative">{{ localize "DND5E.Initiative" }}</h4>
                    <div class="attribute-value">
                        <span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
                    </div>
                    <footer class="attribute-footer">
                        <span>{{ localize "DND5E.Modifier" }}</span>
                        <input name="data.attributes.init.value" type="text" data-dtype="Number" placeholder="0"
                               value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"/>
                    </footer>
                </li>
            </ul>
        </section>
    </header>
</form>