<form class="{{cssClass}} flexcol" autocomplete="off">
    <div class="sheet-left">
        <img class="avatar" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        {{!-- STATS --}}
        <div class="stat-box">
            <h4 class="stat-label">{{ localize 'ACTOR.Initiative' }}</h4>
            <input class="center" name="data.initiative" type="number" value="{{data.initiative}}" data-dtype="Number" />
        </div>
        <div class="stat-box">
            <h4 class="stat-label">{{ localize 'ACTOR.DamageResistance' }}</h4>
            <input class="center" name="data.damage_resistance" type="number" value="{{data.damage_resistance}}"
                data-dtype="Number" />
        </div>  
        <div class="stat-box">
            <h4 class="stat-label">{{ localize 'ACTOR.DamageBonus' }}</h4>
            <div class="flexrow">
                <div class="input-cell">
                    <input class="center" name="data.damage_bonus.melee" type="text" value="{{data.damage_bonus.melee}}"
                        data-dtype="Number" />
                    <h6 class="label">{{ localize 'ACTOR.Melee' }}</h6>
                </div>
                 <div class="input-cell-spacer">
                    <p>/</p>
                </div>
                <div class="input-cell">
                    <input class="center" name="data.damage_bonus.range" type="text" value="{{data.damage_bonus.range}}"
                        data-dtype="Number" />
                    <h6 class="label">{{ localize 'ACTOR.Range' }}</h6>
                </div>
            </div>
        </div> 
        <div class="stat-box">
            <h4 class="stat-label">{{ localize 'ACTOR.Health' }}</h4>
            <div class="flexrow">
                <div class="input-cell">
                    <input class="center" name="data.health.value" type="text" value="{{data.health.value}}" data-dtype="Number" />
                    <h6 class="label">{{ localize 'ACTOR.Current' }}</h6>
                </div>
                <div class="input-cell-spacer">
                    <p>/</p>
                </div>
                <div class="input-cell">
                    <input class="center" name="data.health.max" type="text" value="{{data.health.max}}" data-dtype="Number" />
                    <h6 class="label">{{ localize 'ACTOR.Max' }}</h6>
                </div>
            </div>
        </div>
        <div class="stat-box">
            <h4 class="stat-label">{{ localize 'ACTOR.BonePile' }}</h4>
            <div class="flexrow">
                <div class="input-cell">
                    <input class="center" name="data.bones.value" type="number" value="{{data.bones.value}}" data-dtype="Number" />
                    <h6 class="label">{{ localize 'ACTOR.Current' }}</h6>
                </div>
                 <div class="input-cell-spacer">
                    <p>/</p>
                </div>
                <div class="input-cell">
                    <input class="center" name="data.bones.max" type="number" value="{{data.bones.max}}" data-dtype="Number" />
                    <h6 class="label">{{ localize 'ACTOR.Max' }}</h6>
                </div>
            </div>
        </div>
        <div class="stat-box">
            <h4 class="label">{{ localize 'ACTOR.Advancement' }}</h4>
            <div class="flexrow">
                <div class="input-cell">
                    <input class="center" name="data.milestones" type="number" value="{{data.milestones}}" data-dtype="Number" />
                    <h6 class="label">{{ localize 'ACTOR.Milestones' }}</h6>
                </div>
                 <div class="input-cell-spacer">
                    <p>/</p>
                </div>
                <div class="input-cell">
                    <input class="center" name="data.rank" type="number" value="{{data.rank}}" data-dtype="Number" />
                    <h6 class="label">{{ localize 'ACTOR.Rank' }}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="sheet-body">
        <section class="sheet-profile">          
            <h1 class="character-name">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize "ACTOR.CharacterName" }}" />
            </h1>
            <!-- ABILITIES -->
            <div class="abilities-container flexrow">
                {{!-- STRENGHT --}}
                <div class="ability-box">
                    <h3 class="ability-label">{{ localize 'ACTOR.Strength' }}</h3>
                    <h2 class="ability-value">
                        <input class="dymo" name="data.ability.strength.current" type="text" value="{{data.ability.strength.current}}"
                                data-dtype="Number" />
                    </h2>
                    <div class="flexrow">
                        <div class="input-cell">
                            <input name="data.ability.strength.base" type="text" value="{{data.ability.strength.base}}"
                                data-dtype="Number" />
                            <h6 class="label">{{ localize 'ACTOR.Base' }}</h6>
                        </div>
                        <div class="input-cell-spacer">
                            <p>/</p>
                        </div>
                        <div class="input-cell">
                            <input name="data.ability.strength.modifier" type="text" value="{{data.ability.strength.modifier}}"
                                data-dtype="Number" />
                            <h6 class="label">{{ localize 'ACTOR.Mod' }}</h6>
                        </div>
                    </div>
                </div> 
                {{!-- DEXTERITY --}}
                <div class="ability-box">
                    <h3 class="ability-label">{{ localize 'ACTOR.Dexterity' }}</h3>
                        <h2 class="ability-value">
                            <input class="dymo" name="data.ability.dexterity.current" type="text" value="{{data.ability.dexterity.current}}"
                                data-dtype="Number" />
                        </h2>
                    <div class="flexrow">
                        <div class="input-cell">
                            <input name="data.ability.dexterity.base" type="text" value="{{data.ability.dexterity.base}}"
                                data-dtype="Number" />
                            <h6 class="label">{{ localize 'ACTOR.Base' }}</h6>
                        </div>
                        <div class="input-cell-spacer">
                            <p>/</p>
                        </div>
                        <div class="input-cell">
                            <input name="data.ability.dexterity.modifier" type="text" value="{{data.ability.dexterity.modifier}}"
                                data-dtype="Number" />
                            <h6 class="label">{{ localize 'ACTOR.Mod' }}</h6>
                        </div>
                    </div>
                </div> 
                {{!-- LOGIC --}}
                <div class="ability-box">
                    <h3 class="ability-label">{{ localize 'ACTOR.Logic' }}</h3>
                      <h2 class="ability-value">
                        <input class="dymo" name="data.ability.logic.current" type="text" value="{{data.ability.logic.current}}"
                                data-dtype="Number" />
                    </h2>
                    <div class="flexrow">
                        <div class="input-cell">
                            <input name="data.ability.logic.base" type="text" value="{{data.ability.logic.base}}"
                                data-dtype="Number" />
                            <h6 class="label">{{ localize 'ACTOR.Base' }}</h6>
                        </div>
                        <div class="input-cell-spacer">
                            <p>/</p>
                        </div>
                        <div class="input-cell">
                            <input name="data.ability.logic.modifier" type="text" value="{{data.ability.logic.modifier}}"
                                data-dtype="Number" />
                            <h6 class="label">{{ localize 'ACTOR.Mod' }}</h6>
                        </div>
                    </div>
                </div> 
                {{!-- WILLPOWER --}}
                <div class="ability-box">
                    <h3 class="ability-label">{{ localize 'ACTOR.Willpower' }}</h3>
                    <h2 class="ability-value">
                         <input class="dymo" name="data.ability.willpower.current" type="text" value="{{data.ability.willpower.current}}"
                                data-dtype="Number" />
                    </h2>
                    <div class="flexrow">
                        <div class="input-cell">
                            <input name="data.ability.willpower.base" type="text" value="{{data.ability.willpower.base}}"
                                data-dtype="Number" />
                            <h6 class="label">{{ localize 'ACTOR.Base' }}</h6>
                        </div>
                        <div class="input-cell-spacer">
                            <p>/</p>
                        </div>
                        <div class="input-cell">
                            <input name="data.ability.willpower.modifier" type="text" value="{{data.ability.willpower.modifier}}"
                                data-dtype="Number" />
                            <h6 class="label">{{ localize 'ACTOR.Mod' }}</h6>
                        </div>
                    </div>
                </div> 
            </div>
        </section>
         {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs full-width" data-group="primary">
            <a class="item" data-tab="background">={{ localize 'ACTOR.Background' }}=</a>
            <a class="item" data-tab="skills">={{ localize 'ACTOR.Skills' }}=</a>
            <a class="item" data-tab="powers">={{ localize 'ACTOR.Powers' }}=</a>
            <a class="item" data-tab="equipment">={{ localize 'ACTOR.Equipment' }}=</a>
            <a class="item" data-tab="bio">={{ localize 'ACTOR.Bio' }}=</a>
        </nav>
        <div class="sheet-tabs-panel">
            {{!-- BACKGROUND, ODDITIES, DESCRIPTORS --}}
            <div class="tab background" data-group="primary" data-tab="background">
                 <div class="flexrow">
                    <div class="stat-box">
                        <h4 class="stat-label">{{ localize 'ACTOR.Alignment' }}</h4>
                        <input name="data.alignment" type="text" value="{{data.alignment}}" />
                    </div>
                    <div class="stat-box">
                        <h4 class="stat-label">{{ localize 'ACTOR.Casting' }}</h4>
                        <input name="data.casting" type="text" value="{{data.casting}}" />
                    </div>
                    <div class="stat-box">
                        <h4 class="label">{{ localize 'ACTOR.Drive' }}</h4>
                        <input name="data.drive" type="text" value="{{data.drive}}" />
                    </div>
                </div>
                <div class="flexrow">
                    <div class="stat-box">
                        <h4 class="stat-label">{{ localize 'ACTOR.Background' }}</h4>
                        <input name="data.background" type="text" value="{{data.background}}" />
                    </div>
                    <div class="stat-box flex2">
                        <h4 class="stat-label">{{ localize 'ACTOR.Lifestyle' }}</h4>
                        <input name="data.lifestyle" type="text" value="{{data.lifestyle}}" />
                    </div>
                </div>
                {{!-- ODDITIES --}}
                {{> "systems/sigil_and_shadow/templates/actor/partials/actor-oddities.hbs"}}
                <div class="flexrow">
                    <div class="flexcol">
                        {{!-- PERKS --}}
                        {{> "systems/sigil_and_shadow/templates/actor/partials/actor-perks.hbs"}}
                    </div>
                    <div class="flexcol">
                        {{!-- DESCRIPTORS --}}
                        {{> "systems/sigil_and_shadow/templates/actor/partials/actor-descriptors.hbs"}}         
                    </div>
                </div>
            </div>
            {{!-- SKILLS --}}
            <div class="tab skills" data-group="primary" data-tab="skills">
                {{> "systems/sigil_and_shadow/templates/actor/partials/actor-skills.hbs"}}
            </div>
            {{!-- POWERS --}}
            <div class="tab powers" data-group="primary" data-tab="powers">
                {{> "systems/sigil_and_shadow/templates/actor/partials/actor-powers.hbs"}}
            </div>
            {{!-- EQUIPMENT --}}
            <div class="tab equipment" data-group="primary" data-tab="equipment">
                {{> "systems/sigil_and_shadow/templates/actor/partials/actor-weapons.hbs"}}
                <div class="flexrow">
                    <div class="flexcol">
                        {{> "systems/sigil_and_shadow/templates/actor/partials/actor-armour.hbs"}}
                    </div>
                    <div class="flexcol">
                        {{> "systems/sigil_and_shadow/templates/actor/partials/actor-vehicles.hbs"}}
                    </div>
                </div>
                {{> "systems/sigil_and_shadow/templates/actor/partials/actor-equipment.hbs"}}
            </div>
            {{!-- BIO --}}
            <div class="tab bio" data-group="primary" data-tab="bio">
                {{ editor content=data.notes target="data.notes" owner=owner button=true editable=editable }}
            </div>
        </div>
    </div>
</form>