<form class="{{cssClass}} flexcol" autocomplete="off">
    <div class="sheet-left">
        <img class="avatar" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        {{!-- STATS --}}
        <div class="stat-box">
            <h5 class="title">{{ localize 'ACTOR.BonePile' }}</h5>
            <div class="flexrow">
                <div class="input-cell">
                    <input name="data.bones.value" type="number" value="{{data.bones.value}}" data-dtype="Number" />
                    <label>{{ localize 'ACTOR.Current' }}</label>
                </div>
                <div class="input-cell">
                    <input name="data.bones.max" type="number" value="{{data.bones.max}}" data-dtype="Number" />
                    <label>{{ localize 'ACTOR.Max' }}</label>
                </div>
            </div>
        </div>
         <div class="stat-box">
            <h5 class="title">{{ localize 'ACTOR.Health' }}</h5>
            <div class="flexrow">
                <div class="input-cell">
                    <input name="data.health.value" type="text" value="{{data.health.value}}" data-dtype="Number" />
                    <label>{{ localize 'ACTOR.Current' }}</label>
                </div>
                <div class="input-cell">
                    <input name="data.health.max" type="text" value="{{data.health.max}}" data-dtype="Number" />
                    <label>{{ localize 'ACTOR.Max' }}</label>
                </label>
            </div>
        </div>
        <div class="stat-box">
            <h5 class="title">{{ localize 'ACTOR.DamageBonus' }}</h5>
            <div class="flexrow">
                <div class="input-cell">
                    <input name="data.damage_bonus.melee" type="text" value="{{data.damage_bonus.melee}}"
                        data-dtype="Number" />
                    <label>{{ localize 'ACTOR.Melee' }}</label>
                </div>
                <div class="input-cell">
                    <input name="data.damage_bonus.range" type="text" value="{{data.damage_bonus.range}}"
                        data-dtype="Number" />
                    <label>{{ localize 'ACTOR.Range' }}</label>
                </div>
            </div>
        </div>
        <div class="stat-box">
            <h5 class="title">{{ localize 'ACTOR.Initiative' }}</h5>
            <input name="data.initiative" type="number" value="{{data.initiative}}" data-dtype="Number" />
        </div>
        <div class="stat-box">
            <h5 class="title">{{ localize 'ACTOR.DamageResistance' }}</h5>
            <input name="data.damage_resistance" type="number" value="{{data.damage_resistance}}"
                data-dtype="Number" />
        </div>   
    </div>
    <div class="sheet-body">
        <section class="sheet-profile">          
            <h1 class="character-name">
                <input name="name" type="text" value="{{actor.name}}" />
            </h1>
            <div class="flexrow">
                <div class="input-box">
                    <label>{{ localize 'ACTOR.Alignment' }}</label>
                    <input name="data.alignment" type="text" value="{{data.alignment}}" />
                </div>
                <div class="input-box">
                    <label>{{ localize 'ACTOR.Casting' }}</label>
                    <input name="data.casting" type="text" value="{{data.casting}}" />
                </div>
                <div class="input-box">
                    <label>{{ localize 'ACTOR.Drive' }}</label>
                    <input name="data.drive" type="text" value="{{data.drive}}" />
                </div>
            </div>
            <!-- ABILITIES -->
            <div class="flexrow">
                <div class="ability-box">
                    <label>{{ localize 'ACTOR.Strength' }}</label>
                    <input name="data.ability.strength" type="text" value="{{data.ability.strength}}" />
                </div>
                <div class="ability-box">
                    <label>{{ localize 'ACTOR.Dexterity' }}</label>
                    <input name="data.ability.dexterity" type="text" value="{{data.ability.dexterity}}" />
                </div>
                <div class="ability-box">
                    <label>{{ localize 'ACTOR.Logic' }}</label>
                    <input name="data.ability.logic" type="text" value="{{data.ability.logic}}" />
                </div>
                <div class="ability-box">
                    <label>{{ localize 'ACTOR.Willpower' }}</label>
                    <input name="data.ability.willpower" type="text" value="{{data.ability.willpower}}" />
                </div>
            </div>
        </section>
         {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs full-width" data-group="primary">
            <a class="item" data-tab="bio">{{ localize 'ACTOR.Bio' }}</a>
            <a class="item" data-tab="skills">{{ localize 'ACTOR.Skills' }}</a>
            <a class="item" data-tab="perks">{{ localize 'ACTOR.Perks' }}</a>
            <a class="item" data-tab="powers">{{ localize 'ACTOR.Powers' }}</a>
            <a class="item" data-tab="equipment">{{ localize 'ACTOR.Equipment' }}</a>
            <a class="item" data-tab="notes">{{ localize 'ACTOR.Notes' }}</a>
        </nav>
        <div class="sheet-tabs-panel">
            {{!-- BACKGROUND, ODDITIES, DESCRIPTORS --}}
            <div class="tab bio" data-group="primary" data-tab="bio">
                 {{> "systems/sigil_and_shadow/templates/actor/partials/actor-background.hbs"}}
            </div>
            {{!-- SKILLS --}}
            <div class="tab skills" data-group="primary" data-tab="skills">
                {{> "systems/sigil_and_shadow/templates/actor/partials/actor-skills.hbs"}}
            </div>
            {{!-- PERKS --}}
            <div class="tab perks" data-group="primary" data-tab="perks">
                Perks
            </div>
            {{!-- POWERS --}}
            <div class="tab powers" data-group="primary" data-tab="powers">
                Perks
            </div>
            {{!-- EQUIPMENT --}}
            <div class="tab equipment" data-group="primary" data-tab="equipment">
                Equipment
            </div>
            {{!-- NOTES --}}
            <div class="tab notes" data-group="primary" data-tab="notes">
                {{ editor content=data.notes target="data.notes" owner=owner button=true editable=editable }}
            </div>
        </div>
    </div>
</form>