<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="180" width="180"/>
        <div class="header-spacer"></div>
         <h4>{{ localize "ITEM.EquipmentName" }}</h4>   
        <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/>
    </header>
    <div class="sheet-content">
        <h4>{{ localize "ITEM.Description" }}</h4>   
        <textarea rows="8" name="data.description">{{data.description}}</textarea> 
    </div>
</form>