<form class="{{cssClass}} power-sheet" autocomplete="off">
    <header class="sheet-header">
        <h4>{{ localize "ITEM.PowerName" }}</h4>
        <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/>
    </header>
    <div class="sheet-content">     
        <h4>{{ localize 'ITEM.PowerKind' }}</h4>
        <input name="data.kind" type="text" value="{{data.kind}}" placeholder="{{ localize 'ITEM.PowerKindPlaceholder' }}"/>
        <h4>{{ localize "ITEM.Description" }}</h4>   
        <textarea rows="3" name="data.description">{{data.description}}</textarea> 
    </div>
</form>